<template>
    <form @submit.prevent="submitForm">
        <div class="box box-success">
            <div class="box-body">
                <div class="form-group">
                    <label>Сумма</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-rub"></i></span>
                        <input type="number" class="form-control" v-model="sum" max="100000" min="1" placeholder="200" required>
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Для пользователя</label>
                    <v-select v-model="user" label="name" :options="searchOptions" :filterable="false" @search="onSearchUsers" required></v-select>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Пополнить</button>
            </div>

            <div class="overlay" v-cloak v-show="loading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </form>
</template>

<script>
  import { post, get } from "../../bootstrap";
  import vmodal from 'vue-js-modal'

  import _ from 'lodash';

  Vue.use(vmodal, { dialog: true, dynamic: true, injectModalsContainer: true });

  export default {
    data() {
      return {
        sum: '',
        user: '',
        searchOptions: [],
        loading: false,
      };
    },
    created() {
      get(`/api/admin/search-by-email?q=`)
        .then(res => {
          this.searchOptions  = res.data;
        });
    },
    methods: {
      onSearchUsers(search, loading) {
        loading(true);
        this.ajaxSearch(loading, search, this);
      },
      ajaxSearch: _.debounce((loading, search, vm) => {
        get(`/api/admin/search-by-email?q=${encodeURI(search)}`)
          .then(res => {
            vm.searchOptions  = res.data;
            loading(false);
          });
      }, 350),
      submitForm(event) {
        if(this.user === '') {
          return this.showSimpleDialog('Выберите пользователя');
        }

        this.loading = true;

        post('/api/admin/payment/refill', {sum: this.sum, user_id: this.user.id})
          .then(res => {
            const data = res.data;

            if(data.type === 'success') {
              this.sum = '';
              this.user = '';

              this.loading = false;
              return this.showSimpleDialog(data.message);
            }
          });
      },
      showSimpleDialog(message) {
        console.log('dsd',  this.$modal);
        return this.$modal.show('dialog', {
          text: message,
          buttons: [{title: 'Ok'}
          ]
        });
      },
    },
  }
</script>

<style scoped>

</style>