<template>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$emit('close')">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Подтверждения запуска рассылки</h4>
        </div>
        <div class="modal-body">
            <div class="modal-msg">
                Уверены что хотите отправить sms клиентам({{ customers_count }}) этой кампании? Текст сообщения: {{ message }}
            </div>
            <div class="form-group">
                <label>Количество клиентов для рассылки:</label>
                <input type="number" name="limit" min="0" class="form-control" placeholder="0" :max="customers_count" v-model="customersCount">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" @click="$emit('close')">Закрыть</button>
            <a @click="applyCampaign" href="#" class="btn btn-primary btn-ajax" data-dismiss="modal">Подтвердить рассылку</a>
        </div>
    </div>
</template>

<script>
  import { bus } from '../../bus';

  export default {
    props: ['campaign_id', 'customers_count', 'message'],
    data() {
      return {
        customersCount: this.customers_count,
      };
    },
    methods: {
      applyCampaign(event) {
        event.preventDefault();

        bus.$emit('apply-campaign', this.campaign_id, this.customersCount);

        this.$emit('close');
      },
    },
  }
</script>

<style scoped>

</style>